################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XboxBiosTools
*.exe
*.pdb
*.bin
*.img
*.zip
/XbBiosTool/objd
/XbBiosTool/obj
/xbios.exe.lastcodeanalysissucceeded
*.log
/.vscode
/XbBiosTool/XbBiosTool.vcxproj.user
/tests/decode.ini
/decode.ini
/XbBiosTool/XbBiosTool.vcxproj.filters
/XbBiosTool/XbBiosTool.vcxproj.user
