################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XboxBiosTools
/bin
*.exe
*.pdb
*.bin
*.img
*.zip
/XbBiosTool/objd
/XbBiosTool/obj
/xbios.exe.lastcodeanalysissucceeded
*.log
/tests/decode.ini
/.vscode
